venv/
live*.json


#
data/

# terraform
terraform.tfvars
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# other
.env


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/
